# Example unit file for server

[Unit]
Description=description

[Service]
User=user
Group=www-data
ExecStartPre=rm -f socket_file_name
ExecStart=/usr/bin/node index.js
WorkingDirectory=workingdir
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=identifier

[Install]
WantedBy=multi-user.target

